// Main Colors 

$Colors:("primary" : #0E76E5,
    "secondary" : #cccccc,
    "success" : #0fa55a,
    "danger" : #FF3C38,
    "warning" : #FF8C42,
    "info" : #86BBD8,
    "light" : #F7F5FB,
    "dark" : #040F0F);

//  Differnet Shades Of Colors