// Main Colors 
$primary : #134074;
$secondary : #cccccc;
$success : #0fa55a;
$danger : #FF3C38;
$warning : #FF8C42;
$info : #86BBD8;
$light : #F7F5FB;
$dark : #040F0F;

// Background Colors

.bg-primary{
    background-color: $primary;
}
.bg-secondary{
    background-color: $secondary;
}
.bg-success{
    background-color: $success;
}
.bg-danger{
    background-color: $danger;
}
.bg-warning{
    background-color: $warning;
}
.bg-info{
    background-color: $info;
}
.bg-light{
    background-color: $light;
}
.bg-dark{
    background-color: $dark;
    color: white;
}

.text-primary{
    color: $primary;
}
.text-secondary{
    color: $secondary;
}
.text-success{
    color: $success;
}
.text-danger{
    color: $danger;
}
.text-warning{
    color: $warning;
}
.text-info{
    color: $info;
}
.text-light{
    color: $light;
}
.text-dark{
    color: $dark;
}

// Container

.container{
    width: 80%;
    margin: auto;
    background-color: transparent;
    align-self: center;
}


// CSS Grid

.row{
    display: grid;
    column-gap: 0.5em;
    grid-template-columns: repeat(12,1fr);
}

// Default Column (Code For Auto Span For Future Iterations)

// .col{
//     grid-column: inherit;
// }

// Column With Different Sizes

@for $i from 1 through 12 {
    .col-#{$i} {
      grid-column: span #{$i};
    }
}




//  Media Queries

/* Larger than mobile */
@media (max-width: 400px) {

}

/* Larger than phablet */
@media (max-width: 550px) {

}

/* Larger than tablet */
@media (max-width: 750px) {
    .container{
        width: auto;
    }
}

/* Larger than desktop */
@media (max-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1000px) {}