//// Base
@import 'base/variables';
@import'base/spacing';
//// Layout
@import 'layout/grid';


// Background And Text Colors
.rounded{
    border-radius: 8px;
}

@each $name,
$color in $Colors {
    .bg-#{$name} {
        background-color: $color;
    }
    .text-#{name} {
        color: $color;
    }
}

// Container

.container {
    width: 80%;
    margin: auto;
    background-color: transparent;
    align-self: center;
}
