//// Base
@import 'base/variables';
@import'base/spacing';
@import'base/functions';
@import'base/typography';
//// Component
@import 'components/buttons';
//// Layout
@import 'layout/grid';
@import 'layout/footer';
@import 'layout/header';
@import 'layout/navigation';
@import 'layout/sidebar';
//// Sections
@import 'sections/hero';


// Background And Text Colors
.rounded{
    border-radius: 8px;
}

@each $name,
$color in $Colors {
    .bg-#{$name} {
        background-color: $color;
    }
    .text-#{name} {
        color: $color;
    }
}

// Container

.container {
    width: 80%;
    margin: auto;
    background-color: transparent;
    align-self: center;
}
